[Unit]
Description=udev rules configuration from config.json
Requires=resin-boot.service systemd-udev-settle.service
After=resin-boot.service systemd-udev-settle.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=@SBINDIR@/os-udevrules

[Install]
WantedBy=multi-user.target
